[submodule "toolbox-vscode"]
	path = toolbox-vscode
	url = https://github.com/owtaylor/toolbox-vscode
[submodule "rustup-toolbox"]
	path = rustup-toolbox
	url = https://github.com/owtaylor/rustup-toolbox
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts
	shallow = true
